@{
    ViewBag.Title = "Confirm Email";
}


<div class="massage_login">
    <p>
        Дякую за підтвердження електронної адреси. @Html.ActionLink("Перейдіть для авторизації.", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
