
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="massage_login">
    <p>На вказану електронну адресу відправлена інструкція для завершення реєстрації.</p>
    @Html.ActionLink("На головну", "Index", "Home", null, null)

</div>